version: "3.9"

services:
  plagio-search:
    build: .
    container_name: plagio-search
    command: >
      uvicorn app.main_search:app
      --host 0.0.0.0
      --port 8001
      --workers 2
    environment:
      - PLAGIO_ROOT=/runtime
    volumes:
      - ./runtime:/runtime
    ports:
      - "8001:8001"

  plagio-ops:
    build: .
    container_name: plagio-ops
    command: >
      uvicorn app.main_ops:app
      --host 0.0.0.0
      --port 8002
      --workers 1
    environment:
      - PLAGIO_ROOT=/runtime
      - PLAGIO_OCR_LANG=kaz+rus+eng
      - PLAGIO_OCR_WORKERS=8
    volumes:
      - ./runtime:/runtime
    ports:
      - "8002:8002"
