services:
  plagio-worker:
    build: .
    container_name: plagio-worker
    command: ["python", "-m", "app.workers.index_worker"]
    environment:
      - PG_HOST=192.168.75.70
      - PG_PORT=5432
      - PG_DB=oysyn
      - PG_USER=oysyn
      - PG_PASS=2123
    # НИКАКИХ depends_on: postgres тут не нужно

  plagio-enqueue:
    build: .
    command: ["python", "-m", "app.scripts.enqueue_test_tasks"]
    environment:
      - PG_HOST=192.168.75.70
      - PG_PORT=5432
      - PG_DB=oysyn
      - PG_USER=oysyn
      - PG_PASS=2123
    # тоже без depends_on: postgres
