version: "3.9"

services:
  plagio-search:
    build: .
    container_name: plagio-search
    command: >
      uvicorn app.main_search:app
      --host 0.0.0.0
      --port 8001
      --workers 2
    environment:
      - PLAGIO_ROOT=/runtime
    volumes:
      - ./runtime:/runtime
    ports:
      - "8001:8001"   # ← вернули

  plagio-ops:
    build: .
    container_name: plagio-ops
    command: >
      uvicorn app.main_ops:app
      --host 0.0.0.0
      --port 8002
      --workers 1
    environment:
      - PLAGIO_ROOT=/runtime
      - PLAGIO_OCR_LANG=kaz+rus+eng
      - PLAGIO_OCR_WORKERS=8
    volumes:
      - ./runtime:/runtime
    ports:
      - "8002:8002"   # ← вернули

  nginx:
    image: nginx:alpine
    container_name: plagio-nginx
    depends_on:
      - plagio-search
      - plagio-ops
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8000:80"





