services:
  plagio-worker:
    build: .
    container_name: plagio-worker
    command: ["python", "-m", "app.workers.index_worker"]
    environment:
      - PG_HOST=192.168.75.70
      - PG_PORT=5432
      - PG_DB=oysyn
      - PG_USER=oysyn
      - PG_PASS=2123
      # чтобы INDEX_DIR/UPLOAD_DIR знали, где runtime
      - PLAGIO_ROOT=/runtime
      
      # пороги сегментации (можно и по дефолту оставить)
      - PLAGIO_ETL_BATCH_SIZE=100
      # сколько файлов в L1-сегменте
      - PLAGIO_DOCS_PER_L1=10
      # до какого уровня авто-компактим
      - PLAGIO_MAX_AUTO_LEVEL=4
      # сколько сегментов нижнего уровня сливаем
      # (для твоего случая: 10 L1 -> 1 L2, 10 L2 -> 1 L3, и т.д.)
      - PLAGIO_SEGMENTS_PER_L2=10
      - PLAGIO_SEGMENTS_PER_L3=10
      - PLAGIO_SEGMENTS_PER_L4=10

    volumes:
      - ./runtime:/runtime
    restart: always

  plagio-ops:
    build: .
    container_name: plagio-ops
    command: >
      uvicorn app.main_ops:app
      --host 0.0.0.0
      --port 8000
      --workers 1
    environment:
      - PLAGIO_ROOT=/runtime
      - PLAGIO_OCR_LANG=kaz+rus+eng
      - PLAGIO_OCR_WORKERS=8
      - PG_HOST=192.168.75.70
      - PG_PORT=5432
      - PG_DB=oysyn
      - PG_USER=oysyn
      - PG_PASS=2123
    volumes:
      - ./runtime:/runtime
    ports:
      - "8000:8000"
    mem_limit: 80g
    memswap_limit: 80g
    cpuset: "8-23"
    cpus: "16"
    restart: always

  # НЕОБЯЗАТЕЛЬНО, ТОЛЬКО ДЛЯ ОДНОРАЗОВЫХ ЗАПУСКОВ
  # plagio-enqueue:
  #   build: .
  #   command: ["python", "-m", "app.scripts.enqueue_test_tasks"]
  #   environment:
  #     - PG_HOST=192.168.75.70
  #     - PG_PORT=5432
  #     - PG_DB=oysyn
  #     - PG_USER=oysyn
  #     - PG_PASS=2123
  #   restart: "no"
